<% provide :title, @recipe.title %>
<h1 class="text-center"><%= @recipe.title %></h1>
<div class="text-center avatar">
  <%= gravatar_for(@recipe.chef) %>
  <p><em>by: <%= @recipe.chef.name %></em></p>
</div>
<hr>
<div class="well col-sm-10 col-sm-offset-1">
  <%= image_tag (@recipe.img_url :avatar_header) , class:"col-sm-3" %>

  <div class="recipe-details col-sm-9">
    <h3><%= @recipe.title %></h3>
    <p><%= simple_format @recipe.description %></p>
    <p class="pull-bottom pull-right"><%= time_ago_in_words(@recipe.created_at) %></p>
  </div>

  <div class="pull-right">
    <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
    <i class="glyphicon glyphicon-thumbs-up"></i> <%= @count_like %>
    <% end %>
    <span class="tab"></span>
    <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-down"></i> <%= @count_dislike %>
    <% end %>
  </div>
</div>
<div class="clear-both"></div>
<div class="col-sm-10 col-sm-offset-1">
  <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
</div>